+++
title = "IEEE-ICIR-ACIR"
linkTitle = "IEEE-ICIR-ACIR"

+++

<div class="mx-auto">

<br/>
<br/>
<br/>
<br/>

<img src="ICIR_Banner.png" width="100%"/>
</div>

{{< blocks/cover title="Welcome to the IEEE-ICIR-ACIR Competition" image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto">



	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/competition" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">For a brief introduction see next</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Application Contest for Intelligent Reality (ACIR) challenges developers to create AI machine learning Intelligent Reality (IR) applications to provide realtime decision-making user experience with analytics capability for the immersive (VR/AR/MR/XR) environment.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Challange yourself!" %}}
Get involved and demonstrate your project and have fun

{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-info-circle" title="More deatils" url="/docs/competition" %}}
Find out more about the competition.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-rocket" title="Apply!" url="https://docs.google.com/forms/d/1igIJIIobhfGW8YaHFL2_LthQtgTELPsVYbpdG121SBE/viewform?ts=5fc004ff&edit_requested=true" %}}
Apply for the competition and fill out the form!
{{% /blocks/feature %}}



{{< /blocks/section >}}


